<template>
    <div class="page_wrap_vue pa-8">
        <v-row>
            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Entrenamientos</v-card-title>                    
                    <v-col justify="center" >
                        <v-avatar size="125">
                            <v-icon size="70">mdi-hiking</v-icon>
                        </v-avatar>
                        {{trainings}}
                    </v-col>              
                    <v-card-actions>
                    <v-btn text @click="$router.push({name:'lesson_plan.list'})">Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Eventos</v-card-title>
                    <v-row>
                        <v-col justify="center">
                            <v-avatar size="125">
                                <v-icon dark size="70">mdi-calendar</v-icon>
                            </v-avatar>
                            {{events}}
                        </v-col>
                    </v-row>
                    <v-card-actions>
                    <v-btn text @click="$router.push({name:'gyms.list'})">Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Ejercisio</v-card-title>
                    <v-row>
                        <v-col justify="center">
                            <v-avatar size="125">
                                <v-icon dark size="70">mdi-eye</v-icon>
                            </v-avatar>
                            {{events}}
                        </v-col>
                    </v-row>
                    <v-card-actions>
                    <v-btn text @click="$router.push({name:'gyms.list'})">Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        
        data () {
            return {
             trainings: 0,
             events: 0,             
            }
        },

        mounted() {

            const self = this;

            self.$store.commit('setBreadcrumbs',[
                {label:'Entrenamientos',name:'locations.index'}
            ]);
            self.getCountEventsTrainig();
        },

        methods:{
            
            getCountEventsTrainig(){
                const self = this;
                 axios.get('/admin/countEventsTraning/').then(function(response) {                    
                            self.trainings=response.data.data[0].Events;
                            self.events=response.data.data[0].Trainings;  
                            console.log(response.data);                                                                                                                   
                            });                                
            }
        }
    }
</script>