<template>
<v-container>          
    <v-row>
        <v-btn block @click="$router.push({name:'routine.create'})" class="success">
            Crear Entrenamiento
        </v-btn>
    </v-row>
    <v-row>
        <v-col md="12">
            <v-card color="teal">
                <v-card-title>
                    <v-text-field
                        v-model="search"
                        append-icon="search"
                        label="Buscar"
                        single-line
                        hide-details
                        class="teal"
                    />
                </v-card-title>
                <v-data-table
                :headers="headers"
                :items="trainings"
                :search="search"
                :loading="loading" 
                loading-text="Cargando Entrenamientos..."
                class="teal"                
                >
                  <template v-slot:item.services="{ item }">
                        <v-btn
                        class="ma-2"                        
                        small
                        fab
                        color="green"
                        >
                        <v-icon>mdi-eye</v-icon>
                        </v-btn>                      
                  </template>
  
                  <template v-slot:item.image="{ item }">
                    <v-avatar>
                    <img
                        :src=item.avatar
                        :alt=item.name
                    >
                    </v-avatar>
                  </template>
                  <template v-slot:item.actions="{ item }">
                  <v-icon small class="mr-2">
                      mdi-pencil
                    </v-icon>
                    <v-icon small>
                      mdi-delete
                    </v-icon>
                  </template>
                    
                </v-data-table>
            </v-card>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Nombre', value: 'title' },
          { text: 'Descripcion', value: 'description' },
          { text: 'Archivo', value: 'image',sortable: false},
          { text: 'Tipo de Plan', value: 'type_lesson_plan_own' },
          { text: 'Lugar', value: 'locations_id' },          
          { text: 'Rutinas', value: 'services', sortable: false},
          { text: 'Acciones', value: 'actions', sortable: false }
        ],
        trainings:[],
        loading:true,
      }
    },
    mounted(){
        const self = this;
        
        self.$store.commit('setBreadcrumbs',[
                {label:'Entrenamientos',to:{name:'lesson_plan.index'}},
                {label:'Entrenamientos',name:'lesson_plan.index'}
            ]);
        self.loadTrainings();

    },
    methods:{
            
            loadTrainings(){
                    const self = this;
                            axios.get('/admin/getLessonPlan/').then(function(response) {                    
                            self.trainings=response.data.data;
                            console.log(response.data.data); 
                            self.loading = false;                                 
                            });
                
                console.log(self.locations);                               
            },
    }
  }
</script>
