<template>
    <v-container class="px-0">
        <v-stepper v-model="e1">
            <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1">
                Datos Basicos del Entrenamiento
            </v-stepper-step>
            <v-divider/>
            <v-stepper-step :complete="e1 > 2" step="2">
                Rutinas
            </v-stepper-step>
            <v-divider/>
            <v-stepper-step step="3">
                Guardar
            </v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
            <v-stepper-content step="1">        
                <v-row dense>
                    <v-col cols="12">
                        <v-card>
                            <v-card-title>
                                <v-row>
                                    <v-col>
                                    <span class="headline">Registrar Entrenamiento</span>
                                    </v-col>
                                </v-row>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row align="center">
                                    <v-col class="d-flex" cols="12" sm="6">
                                        <v-text-field label="Nombre" outlined v-model="name" />
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="6">
                                        <v-select label="Accesibilidad" outlined :items="type_owner" v-model="type_owner_selected"/>
                                    </v-col>
                                    </v-row>
                                    <v-row align="center">
                                    <v-col class="d-flex" cols="12" sm="6">
                                    <v-file-input label="Poster" outlined prepend-icon="mdi-camera" @change="onFileChange()" v-model="poster"/>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="6">
                                    <v-avatar v-if="preview" size="125">
                                        <v-img v-if="preview" :src="preview" aspect-ratio="1.5"/>
                                    </v-avatar>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="4">
                                        <v-select label="Frecuencia del Entrenamiento" outlined :items="duration" v-model="duration_selected"/>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="4">
                                        <v-checkbox v-model="switch1" label="Virtual"/>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="4">
                                        <v-text-field label="Numero de Sesiones" outlined v-model="sesion_num" />
                                    </v-col>
                                    </v-row>
                                </v-container>
                                </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row style="margin-bottom: 20px" dense>
                    <v-col cols="6" v-if="switch1===false">
                        <v-card>
                            <v-card-title>
                                <span class="headline">Locacion</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                <v-row>
                                    <v-col class="d-flex" cols="12" sm="6" v-if="location_r===false">
                                        <v-select label="Lugar" outlined :items="locations" v-model="location_selected" item-value="id" item-text="title"/>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="6">
                                        <v-checkbox v-model="location_r" label="Lugar No Registrado"/>    
                                    </v-col>
                                </v-row>
                                <v-row align="center" v-if="location_r===true">
                                <v-col class="d-flex" cols="12" sm="4">
                                <v-select  v-model="region_selected" label="Region" outlined :items="regions" @focus="loadRegions()" item-text="region" item-value="id"/>
                                </v-col>
                                <v-col class="d-flex" cols="12" sm="4">
                                    <v-select v-model="province_selected" label="Provincia" outlined :items="provinces" @focus="loadProvinces()" item-text="provincia" item-value="id"/>
                                </v-col>
                                <v-col class="d-flex" cols="12" sm="4">
                                    <v-select v-model="comune_selected" label="Comuna" outlined :items="comunes" @focus="loadCommunes()" item-text="comuna" item-value="id"/>
                                </v-col>
                                </v-row>
                                <v-row align="center" v-if="location_r===true">
                                    <v-col class="d-flex" cols="12" sm="6">
                                    <v-textarea outlined label="Descripcion" v-model="description"/>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="6">
                                    <v-textarea outlined label="Direccion" v-model="address"/>
                                    </v-col>
                                </v-row>
                                </v-container>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row dense>
                    <v-col cols="12" sm="2">
                    <v-btn color="primary" @click="e1 = 2">Continue</v-btn>
                    </v-col>
                </v-row>
            </v-stepper-content>

            <v-stepper-content step="2">
                            <span class="headline">Rutinas</span>
                            <v-btn class="mx-2" fab dark small color="primary" @click="addRoutine()">
                                <v-icon dark> mdi-plus </v-icon>
                            </v-btn>
                    <v-card v-for="routine in routines" :key="routine.id" class="pa-2" style="margin-top:5px" color="#325A1F">
                                    <v-card-title>
                                        <span class="headline">Rutina {{routine.id}}</span>
                                    </v-card-title>
                                    <v-row align="center">
                                        <v-col class="d-flex" cols="12" sm="6">
                                            <v-textarea outlined label="Descripcion" v-model="routine.description"/>
                                        </v-col>
                                    </v-row>
                                    <v-row align="center">
                                        <v-col class="d-flex" cols="12" sm="6">
                                        <v-slider v-model="routine.instensity"  label="Intensidad"  thumb-color="blue" thumb-label="Intensidad"/>
                                        </v-col>
                                    </v-row>
                                    <v-row align="center">
                                        <v-col class="d-flex" cols="12" sm="6">
                                            <span>Ejercisios</span>
                                        </v-col>
                                        <v-col class="d-flex" cols="12" sm="6">
                                            <v-btn class="mx-2" fab dark small color="primary" @click="addExercise(routine)">
                                                <v-icon dark> mdi-plus </v-icon>
                                            </v-btn>                                
                                        </v-col>
                                    </v-row>
                                    <v-row align="center" v-for="exercise in routine.exercises" :key="exercise.id">                                      
                                            <v-col class="d-flex" cols="12" sm="2">
                                                <v-select label="Ejercicio" outlined :items="exercises_db" v-model="exercise.exercise_id" item-text="title" item-value="id"/>
                                            </v-col>
                                            <v-col class="d-flex" cols="12" sm="2">
                                                <v-dialog ref="dialog"  v-model="modal2" :return-value.sync="time" persistent width="290px">
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field v-model="exercise.time" label="Tiempo de Ejecucion" readonly v-bind="attrs" v-on="on" outlined/>
                                                    </template>

                                                    <v-time-picker v-if="modal2" v-model="time" full-width format="24hr" use-seconds>
                                                        <v-spacer/>
                                                        <v-btn text color="primary" @click="modal2 = false">
                                                            Cancelar
                                                        </v-btn>
                                                        <v-btn text color="success" @click="saveTime(exercise)">
                                                            OK
                                                        </v-btn>
                                                    </v-time-picker>
                                                </v-dialog>                                    
                                            </v-col>                                    
                                            <v-col class="d-flex" cols="12" sm="1">
                                                <v-text-field label="Series" outlined v-model="exercise.series" type="number" @change="exercise.volumen=exercise.charge*exercise.reps*exercise.series"/>
                                            </v-col>                                    
                                            <v-col class="d-flex" cols="12" sm="2">
                                                <v-text-field label="Repeticiones" outlined v-model="exercise.reps" type="number" @change="exercise.volumen=exercise.charge*exercise.reps*exercise.series"/>
                                            </v-col>
                                            <v-col class="d-flex" cols="12" sm="1">
                                                <v-text-field label="Carga" outlined v-model="exercise.charge" type="number" @change="exercise.volumen=exercise.charge*exercise.reps*exercise.series"/>
                                            </v-col>
                                            <v-col class="d-flex" cols="12" sm="2">                                        
                                                <v-dialog ref="dialog"  v-model="modal3" :return-value.sync="time_break_reps" persistent width="290px">
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field v-model="exercise.break_reps" label="Desc Reps" readonly v-bind="attrs" v-on="on" outlined/>
                                                    </template>

                                                    <v-time-picker v-if="modal3" v-model="time_break_reps" full-width format="24hr" use-seconds>
                                                        <v-spacer/>
                                                        <v-btn text color="primary" @click="modal3 = false">
                                                            Cancelar
                                                        </v-btn>
                                                        <v-btn text color="success" @click="saveTimeBreakReps(exercise)">
                                                            OK
                                                        </v-btn>
                                                    </v-time-picker>
                                                </v-dialog>                                        
                                            </v-col>
                                            <v-col class="d-flex" cols="12" sm="2">        
                                                <v-dialog ref="dialog"  v-model="modal4" :return-value.sync="time_break_ser" persistent width="290px">
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field v-model="exercise.break_ser" label="Desc Ser" readonly v-bind="attrs" v-on="on" outlined/>
                                                    </template>

                                                    <v-time-picker v-if="modal4" v-model="time_break_ser" full-width format="24hr" use-seconds>
                                                        <v-spacer/>
                                                        <v-btn text color="primary" @click="modal4 = false">
                                                            Cancelar
                                                        </v-btn>
                                                        <v-btn text color="success" @click="saveTimeBreakSeries(exercise)">
                                                            OK
                                                        </v-btn>
                                                    </v-time-picker>
                                                </v-dialog>                                    
                                            </v-col>
                                            <v-col class="d-flex" cols="12" sm="2">
                                                <v-text-field label="Intensidad" outlined v-model="exercise.intensity" type="number"/>
                                            </v-col>
                                            <v-col class="d-flex" cols="12" sm="2">
                                                <v-text-field label="Volumen" outlined v-model="exercise.volumen" type="number" disabled/>
                                            </v-col>                                                                                                                                                                                                                   
                                            <v-col class="d-flex" cols="12" sm="1">
                                                <v-btn class="mx-2" fab dark small color="error" @click="deleteExercise(exercise.id,routine)">
                                                    <v-icon dark> mdi-close </v-icon>
                                                </v-btn>
                                            </v-col>                                    
                                    </v-row>
                    </v-card>         
                <v-btn color="primary" @click="e1 = 3">Continue</v-btn>
                <v-btn text @click="e1 = 1">Atras</v-btn>
            </v-stepper-content>

            <v-stepper-content step="3">
                
                <v-btn color="primary" @click="e1 = 1">Continue</v-btn>
                <v-btn text @click="e1 = 2">Atras</v-btn>
            </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
    </v-container>
</template>

<script>
    export default {
        mounted() {
            const self = this;
            self.$store.commit('setBreadcrumbs',[
                {label:'Entrenamientos',to:{name:'lesson_plan.index'}},
                {label:' Crear Entrenamientos',name:'lessons.index'}
            ]);
        },

        data () {
            return {
                dialog: false,
                modal2: false,
                modal3: false,
                modal4: false,
                e1: 1,
                regions: [],
                provinces: [],
                comunes: [],
                name: null,
                description: null,
                poster: null,
                type_owner: ['Privada', 'Publica', 'Particular'],
                duration: ['Mensual', 'Semanal', 'Diario','Unico'],
                address: null,
                preview: null,
                region_selected: null,
                province_selected: null,
                type_owner_selected: null,
                duration_selected: null,
                services: [],
                comune_selected: null,
                switch1:true,
                location_r: false,
                routines: [],
                exercises_db: [],
                time: null,
                time_break_reps: null,
                time_break_ser: null

            }
        },
        
        methods:{
             loadRegions(){
                const self = this;
                
                axios.get('/admin/getRegions/').then(function(response) {                    
                self.regions=response.data.data;      
                console.log(response.data.data);                                                        
                });

                self.region_selected = null;
                self.provinces = [];
                self.comunes = []
                
            },

            loadProvinces(){
                const self = this;
                self.comunes = [];
                if(self.region_selected !=null)
                {
                    axios.get('/admin/GetProvinceRegion/'+self.region_selected).then(function(response) {                    
                    self.provinces=response.data.data;      
                    console.log(response.data.data);                                                        
                    });
                }
                else
                {
                    return
                }
            },

            loadCommunes(){
                const self = this;
                
                if(self.province_selected !=null)
                {
                    axios.get('/admin/GetProvinceCommune/'+self.province_selected).then(function(response) {                    
                    self.comunes=response.data.data;      
                    console.log(response.data.data);                                                        
                    });
                }
                else
                {
                    return
                }                
            },

            onFileChange() {
             const self = this;
             
             if(self.preview == null)
             {
                 self.preview = URL.createObjectURL(self.poster);
             }
            },

            addRoutine(){
              const self = this;
              if(Object.keys(self.routines).length===0)
              {
                  self.loadExercises();
              }
              let count = Object.keys(self.routines).length + 1;
              self.routines.push({description: '', exercises: [], id: count, intensity: 0});
            },

            addExercise(routine){
              const self = this;
              let count = Object.keys(routine.exercises).length + 1;
              routine.exercises.push({exercise_id:null, id: count, series: 0, reps: 0, time: '', charge: 0, break_ser: '', break_reps: '',intensity: '', volumen:0});
            },

            loadExercises(){
                    const self = this;
                    axios.get('/admin/GetExercises/').then(function(response) {                    
                    self.exercises_db=response.data.data;                                                                                  
                    });                
            },

            saveTraining(){
                const self = this;
                self.name
                self.description
                self.poster
                self.type_owner
                self.duration 
                self.address
                
            },

            saveTime(exercise){
                const self = this;               
                console.log(self.time);
                exercise.time = self.time;
                self.time = '00:00:00';
                self.modal2 = false;
            },

            saveTimeBreakSeries(exercise){
                const self = this;               
                console.log(self.time_break_ser);
                exercise.break_ser = self.time_break_ser;
                self.time_break_ser = '00:00:00';
                self.modal4 = false;
            },

            saveTimeBreakReps(exercise){
                const self = this;               
                console.log(self.time_break_reps);
                exercise.break_reps = self.time_break_reps;
                self.time_break_reps = '00:00:00';
                self.modal3 = false;
            },

            deleteExercise(id,routine){
              const self = this;                                          
              let routine_index = self.routines.findIndex(x => x.id === routine.id);
              let exercise_index = routine.exercises.findIndex(x => x.id === id);
              self.routines[routine_index].exercises.splice(exercise_index,1);              
            },

        }
    }
</script>