<template>
    <div class="page_wrap_vue pa-3">
        <transition name="fade">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    export default {
        mounted() {

            const self = this;

            self.$store.commit('setBreadcrumbs',[
                {label:'Red Social',name:'SocialMedia.index'}
            ]);
        }
    }
</script>