<template>
    <div class="page_wrap_vue pa-8">
        <v-row>
            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Posts</v-card-title>          
                    
                    <v-col justify="center">
                        <v-avatar size="125">
                            <v-icon dark size="70">mdi-file-multiple-outline</v-icon>
                        </v-avatar>
                    </v-col>

                    <v-card-actions>
                    <v-btn text>Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Aliados</v-card-title>
                    
                    <v-col justify="center" >
                        <v-avatar size="125">
                            <v-icon size="70">mdi-account-tie</v-icon>
                        </v-avatar>
                    </v-col>
                    
                    <v-card-actions>
                    <v-btn text>Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Estudiantes</v-card-title>
                    <v-row>
                        <v-col justify="center">
                            <v-avatar size="125">
                                <v-icon dark size="70">mdi-face</v-icon>
                            </v-avatar>
                        </v-col>
                    </v-row>
                    <v-card-actions>
                    <v-btn text>Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>

            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        mounted() {

            const self = this;

            self.$store.commit('setBreadcrumbs',[
                {label:'Redes',name:'plannings.create'}
            ]);
        }
    }
</script>