<template>
<v-container>
    <v-row>
        <v-col md="8">
            <v-card>
                <v-card-title>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Buscar"
                    single-line
                    hide-details
                ></v-text-field>
                </v-card-title>
                <v-data-table
                :headers="headers"
                :items="courses"
                :search="search"
                :loading="loading" 
                loading-text="Cargando Cursos..."
                ></v-data-table>
            </v-card>
        </v-col>
        <v-col md="4">
            <v-card>
                
            </v-card>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Nombre del Curso', value: 'Nombre' },
          { text: 'Profesor Encargado', value: 'Profesor' },
          { text: 'Curso', value: 'Curso' },
          { text: 'Cantidad De Estudiantes', value: 'Estudiantes' },
        ],
        courses: [],
        loading: true,
      }
    },
    mounted(){
        const self = this;
        
        self.$store.commit('setBreadcrumbs',[
                {label:'Estudiantes',to:{name:'students.index'}},
                {label:'Cursos',name:'students.index'}
            ]);
        self.loadCourses();

    },
    methods:{
            
            loadCourses(){
                    const self = this;
                            axios.get('/admin/GetCourses/').then(function(response) {                    
                            self.courses=response.data.data; 
                            self.loading = false;                                 
                            console.log(response.data.data);                               
                            });
                
            },
    }
  }
</script>
