<template>
<v-container>
    <v-row>
        <v-col md="8">
            <v-card>
                <v-card-title>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Buscar"
                    single-line
                    hide-details
                ></v-text-field>
                </v-card-title>
                <v-data-table
                :headers="headers"
                :items="students"
                :search="search"
                :loading="loading" 
                loading-text="Cargando Estudiantes..."
                ></v-data-table>
            </v-card>
        </v-col>
        <v-col md="4">
            <v-card>
                
            </v-card>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Nombre Completo', value: 'name' },
          { text: 'Usuario', value: 'email' },
          { text: 'Curso', value: 'course' },
          { text: 'Nivel', value: 'course_level' },
        ],
        students: [],
        loading: true,
      }
    },
    mounted(){
        const self = this;
        
        self.$store.commit('setBreadcrumbs',[
                {label:'Estudiantes',to:{name:'students.index'}},
                {label:'Listado Estudiantes',name:'students.list'}
            ]);
        self.loadIndicators();

    },
    methods:{
            
            loadIndicators(){
                    const self = this;
                            axios.get('/admin/GetStudents/').then(function(response) {                    
                            self.students=response.data.data; 
                            self.loading = false;                                 
                            console.log(response.data.data);                               
                            });
                
            },
    }
  }
</script>
