<template>
    <div class="page_wrap_vue pa-8">
        <v-row>
            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Cursos</v-card-title>          
                    
                    <v-col justify="center">
                        <v-avatar size="125">
                            <v-icon dark size="70">mdi-account-box-multiple-outline</v-icon>
                        </v-avatar>
                        {{courses}}
                    </v-col>
                    <v-card-actions>
                    <v-btn text @click="$router.push({name:'courses.list'})">Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Estudiantes</v-card-title>                    
                    <v-col justify="center" >
                        <v-avatar size="125">
                            <v-icon size="70">mdi-face</v-icon>
                        </v-avatar>
                        {{students}}
                    </v-col>              
                    <v-card-actions>
                    <v-btn text @click="$router.push({name:'students.list'})">Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        
        data () {
            return {
             students: 0,
             courses: 0,             
            }
        },

        mounted() {

            const self = this;

            self.$store.commit('setBreadcrumbs',[
                {label:'Locaciones',name:'locations.index'}
            ]);
            self.getCountLocations();
        },

        methods:{
            
            getCountLocations(){
                const self = this;
                 axios.get('/admin/GetStudentsCoursesCount/').then(function(response) {                    
                            self.students=response.data.data[0].students;
                            self.courses=response.data.data[0].courses;                                                                                                                     
                            });                                
            }
        }
    }
</script>