<template>
    <div class="page_wrap_vue pa-3">
        <v-row>
          <v-col>
              <v-card color="#385F73" dark>
                  <p class="display-1 text--primary">
                    Empleados Registrados
                  </p>
                  <v-card-actions>                        
                    <v-btn text color="deep-purple accent-4" @click="$router.push({name:'employee.list'})">
                    Ver Mas
                    </v-btn>
                  </v-card-actions>
              </v-card>
          </v-col>
      </v-row>
    </div>
</template>

<script>
    export default {
        mounted() {

            const self = this;

            self.$store.commit('setBreadcrumbs',[
                {label:'Empleados',name:''}
            ]);
        }
    }
</script>