<template>
    <div class="page_wrap_vue pa-8">
      <v-row>
        <v-col>
          <v-dialog v-model="dialog" persistent max-width="700px">
              <template v-slot:activator="{ on, oas }">
                  <v-btn block color="info" dark v-bind="oas" v-on="on">
                      Registrar Empleados
                  </v-btn>
              </template>
              <v-card>
                  <v-card-title>
                  <span class="headline">Registrar Profesor</span>
                  </v-card-title>
                  <v-card-text>
                  <v-container>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Nombre" required outlined></v-text-field>
                        <v-text-field v-model="ruc" :rules="rucRules" label="Rut" outlined required></v-text-field>
                        <v-text-field v-model="email" :rules="emailRules" label="E-mail" required outlined></v-text-field>
                        <v-file-input label="Foto" outlined prepend-icon="mdi-camera" @change="onFileChange()" v-model="url"></v-file-input>
                        <v-img v-if="preview" :src="preview" aspect-ratio="1.7"/>
                        <br>
                        <v-select v-model="type_employee" :rules="[v => !!v || 'Seleccione Un Tipo de Empleado']"
                                  label="Tipo Empleado" required :items="types_employee" outlined>                          
                        </v-select>                                   
                    </v-form>
                  </v-container>
                  </v-card-text>
                  <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="dialog = false">Cerrar</v-btn>
                  <v-btn color="blue darken-1" text @click="saveIndicator()">Agregar</v-btn>
                  </v-card-actions>
              </v-card>
          </v-dialog >
        </v-col>  
      </v-row>
      <v-row>
          <v-col>
              <v-card color="#385F73" dark>
                <v-card-title>
                  <v-text-field
                      v-model="search"
                      append-icon="search"
                      label="Buscar"
                      single-line
                      hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                :headers="headers"
                :items="employees"
                :search="search"
                :loading="loading" 
                loading-text="Cargando Empleados..."
                >
                  <template v-slot:item.actions="{ item }">
                  <v-icon small class="mr-2" @click="editItem(item)">
                      mdi-pencil
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                      mdi-delete
                    </v-icon>
                  </template>
                </v-data-table>
              </v-card>
          </v-col>
      </v-row>
    </div>
</template>

<script>
    export default {
    data: () => ({
      search: '',
      headers: [
        { text: 'Nombre', value: 'name' },
        { text: 'Rut', value: 'rut' },
        { text: 'Tipo', value: 'type' },                
        { text: 'Acciones', value: 'actions', sortable: false }
        ],
      types_employee: ['Profesor','Curriculista'],
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'El nombre es requerido',
        v => (v && v.length <= 10) || 'El Nombre debe ser minimo 2 caracteres',
      ],
      email: '',
      emailRules: [
        v => !!v || 'El E-mail es requerido',
        v => /.+@.+\..+/.test(v) || ' Introduzco un E-mail valido',
      ],
      ruc: '',
      rucRules: [
        v => !!v || 'El Ruc es requerido',
        v => (v && v.length <= 10) || 'No posee la longitud esperada',
      ],
      dialog: false,
      select: null,
      region: [],
      provincia: [],
      comuna: [],
      url: null,
      preview : null,
      employees: []
    }),

    methods: {
      validate () {
        this.$refs.form.validate()
      },

      reset () {
        this.$refs.form.reset()
      },

      resetValidation () {
        this.$refs.form.resetValidation()
      },

      onFileChange() {
        const self = this;
        if(self.preview == null)
        {
          self.preview = URL.createObjectURL(self.url);
        }
        else
        {
          self.preview = null;
        }
      },

    },
    mounted() {

        const self = this;

        self.$store.commit('setBreadcrumbs',[
            {label:'Empleados',name:'employees.index'}
        ]);
    }
    }
</script>