<template>
<v-container>
    <v-row>
      <v-col>
        <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on, oas }">
                <v-btn block color="info" dark v-bind="oas" v-on="on"  @click="loadCourseLvls()">
                    Crear Indicador
                </v-btn>
            </template>
            <v-card>
                <v-card-title>
                <span class="headline">Crear Indicador</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                    <v-row>
                          <v-col>
                            <v-select                                                                        
                                :items="courselvs"
                                item-text="name"
                                @change="loadOas(selected_course)"                                
                                item-value="id"
                                v-model="selected_course"                                                                                                                                                                               
                                label="Nivel De Curso"                                                                        
                                outlined
                                required
                            ></v-select>
                          </v-col>
                        
                          <v-col>                                                               
                            <v-select                                                                        
                                :items="Oas"
                                item-text="name"
                                item-value="id"
                                v-model="selected_oas"                                                                                                                                                                               
                                label="Objetivos de Aprendizaje"                                
                                outlined
                                required
                            ></v-select>
                          </v-col>
                        
                    </v-row>
                    <v-row>
                          <v-col>
                            <v-text-field required v-model="name_ind" label="Nombre" placeholder="Nombre del Indicador" outlined></v-text-field>
                          </v-col>
                          <v-col>
                            <v-textarea
                              outlined
                              v-model="description_ind" auto-grow
                              label="Descripcion"
                              rows="4"
                              required
                            ></v-textarea>
                          </v-col>
                    </v-row>    
                </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">Cerrar</v-btn>
                <v-btn color="blue darken-1" text @click="saveIndicator()">Agregar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog> 
      </v-col>  
    </v-row>
    <v-row>
        <v-col md="12">
            <v-card color="teal">
                <v-card-title>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Buscar"
                    single-line
                    hide-details
                ></v-text-field>
                </v-card-title>
                <v-data-table
                :headers="headers"
                :items="indicators"
                :search="search"
                :loading="loading" 
                loading-text="Cargando Indicadores..."
                class="teal"
                >
                  <template v-slot:item.actions="{ item }">
                  <v-icon small class="mr-2" @click="editItem(item)">
                      mdi-pencil
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                      mdi-delete
                    </v-icon>
                  </template>
                </v-data-table>
            </v-card>
        </v-col>
        <v-dialog v-model="dialog_update" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Modificar Indicador</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                    <v-row>
                          <v-col>
                            <v-select                                                                        
                                :items="courselvs"
                                item-text="name"
                                @change="loadOas(selected_course_u)"                                
                                item-value="id"
                                v-model="selected_course_u"                                                                                                                                                                               
                                label="Nivel De Curso"                                                                        
                                outlined
                                required
                            ></v-select>
                          </v-col>
                        
                          <v-col>                                                               
                            <v-select                                                                        
                                :items="Oas"
                                item-text="name"
                                item-value="id"
                                v-model="selected_oas_u"                                                                                                                                                                               
                                label="Objetivos de Aprendizaje"                                
                                outlined
                                required
                            ></v-select>
                          </v-col>
                        
                    </v-row>
                    <v-row>
                          <v-col>
                            <v-text-field required v-model="name_ind_u" label="Nombre" placeholder="Nombre del Indicador" outlined></v-text-field>
                          </v-col>
                          <v-col>
                            <v-textarea
                              outlined
                              v-model="description_ind_u" auto-grow
                              label="Descripcion"
                              rows="4"
                              required
                            ></v-textarea>
                          </v-col>
                    </v-row>    
                </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog_update = false">Cerrar</v-btn>
                <v-btn color="blue darken-1" text @click="updateItem()">Modificar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>       
        <v-dialog v-model="dialog_delete" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Eliminar Indicador</span>
                </v-card-title>
                <v-card-text>¿Esta Seguro de que desea Elimina el Indicador?</v-card-text>                
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog_delete = false">Cerrar</v-btn>
                <v-btn color="blue darken-1" text @click="deleteRequestItem(selected_item)">Eliminar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog> 
    </v-row>
</v-container>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Nombre', value: 'name' },
          { text: 'Descripcion', value: 'description' },
          { text: 'Cursos', value: 'course' },
          { text: 'Objetivo Asociado', value: 'oas_id' },
          { text: 'Estatus', value: 'status' },
          { text: 'Acciones', value: 'actions', sortable: false }
        ],
        indicators: [],
        loading: true,
        dialog: false,
        dialog_update: false,
        dialog_delete: false,
        selected_course: '',
        selected_oas: '',
        courselvs: [],
        Oas: [],
        description_ind: '',
        name_ind: '',
        selected_item: '',
        
        description_ind_u: '',
        name_ind_u: '',
        selected_course_u: '',
        selected_oas_u: '',
        

      }
    },
    mounted(){
        const self = this;
        
        self.$store.commit('setBreadcrumbs',[
                {label:'Indicadores',to:{name:'indicators.index'}},
                {label:'Ver Indicadores Propios',name:''}
            ]);
        self.loadIndicators();

    },
    methods:{
            
            loadIndicators(){
                    const self = this;
                            axios.get('/admin/custom-indicators/').then(function(response) {                    
                            self.indicators=response.data.data; 
                            self.loading = false;                                 
                            });
                
                console.log(self.indicators);                               
            },

            loadCourseLvls(){
                  const self = this;
                          axios.get('/admin/courseLevels').then(function(response) {                    
                          self.courselvs=response.data.data; 
                          self.dialog = true;
                          //console.log(response.data.data);                                 
                          })                                                  
            },
            
            loadOas(id){
                    const self = this;
                            axios.get('/admin/objectives-course/'+id).then(function(response) {                    
                            self.Oas=response.data.data;                             
                            //console.log(id);                                 
                            });
            },

            saveIndicator(){
              const self = this;
              let payload = {
                    name: self.name_ind,
                    description: self.description_ind,
                    objective: self.selected_oas,
                };
                

                axios.post('/admin/custom-indicators',payload).then(function(response) {

                    self.$store.commit('showSnackbar',{
                       message: response.data.message,
                       color: 'success',
                       duration: 3000
                    });
                   
                    // reset
                    self.name_ind = '';
                    self.description_ind = '';
                    self.selected_oas = '';
                    self.loadIndicators();
                    self.dialog = false;

                }).catch(function (error) {
                    if (error.response) {
                        self.$store.commit('showSnackbar',{
                            message: error.response.data.message,
                            color: 'error',
                            duration: 3000
                        });
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        console.log('Error', error.message);
                    }
                });
            },

            editItem(item){
              const self = this;
              self.selected_item = item.id;
              self.dialog_update = true;
              self.description_ind_u = item.description;
              self.name_ind_u = item.name;
              self.selected_course_u = item.objectives.course_id;
              self.selected_oas_u = item.objectives.id;
              
              axios.get('/admin/courseLevels').then(function(response) {                    
                          self.courselvs=response.data.data;                                  
                          })                   
              self.loadOas(item.objectives.course_id);
              
            },

            updateItem(){
              const self = this;
              let payload = {
                    name: self.name_ind_u,
                    description: self.description_ind_u,
                    objective: self.selected_oas_u,
                };
              axios.put('admin/custom-indicators/'+self.selected_item, payload).then(function(response) {
                self.$store.commit('showSnackbar',{
                       message: response.data.message,
                       color: 'success',
                       duration: 3000
                    });
                self.dialog_update = false;
                self.loadIndicators();  
              }).catch(function (error) {
                    if (error.response) {
                        self.$store.commit('showSnackbar',{
                            message: error.response.data.message,
                            color: 'error',
                            duration: 3000
                        });
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        console.log('Error', error.message);
                    }
                });
            },

            deleteItem(item){
              const self = this;
              self.selected_item = item.id; 
              self.dialog_delete = true;             
            },

            deleteRequestItem(id){
              const self = this;
              //console.log(id);
                axios.delete('admin/custom-indicators/'+id).then(function(response) 
                {
                    self.$store.commit('showSnackbar',{
                      message: response.data.message,
                      color: 'success',
                      duration: 3000
                    });
                  self.dialog_delete = false;
                  self.loadIndicators();
                }).catch(function(error){
                      self.dialog_delete = false;
                     if (error.response) {
                                self.$store.commit('showSnackbar',{
                                    message: error.response.data.message,
                                    color: 'error',
                                    duration: 3000
                                });
                            } else if (error.request) {
                                console.log(error.request);
                            } else {
                                console.log('Error', error.message);
                            }     
                });
            }
    }
  }
</script>