<template>
<v-container>
    <v-row>
        <v-col md="12">
            <v-card color="teal">
                <v-card-title>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Buscar"
                    single-line
                    hide-details
                ></v-text-field>
                </v-card-title>
                <v-data-table
                :headers="headers"
                :items="indicators"
                :search="search"
                :loading="loading" 
                loading-text="Cargando Indicadores..."
                class="teal"
                ></v-data-table>
            </v-card>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Nombre', value: 'name' },
          { text: 'Descripcion', value: 'description' },
          { text: 'Cursos', value: 'course' },
          { text: 'Objetivo Asociado', value: 'oas_id' },
        ],
        indicators: [],
        loading: true,
      }
    },
    mounted(){
        const self = this;
        
        self.$store.commit('setBreadcrumbs',[
                {label:'Indicadores',to:{name:'indicators.index'}},
                {label:'Ver Indicadores',name:'indicators.list'}
            ]);
        self.loadIndicators();

    },
    methods:{
            
            loadIndicators(){
                    const self = this;
                            axios.get('/admin/indicators/').then(function(response) {                    
                            self.indicators=response.data.data; 
                            self.loading = false;                                 
                            });
                
                console.log(self.indicators);                               
            },
    }
  }
</script>
