<template>
    <div class="page_wrap_vue pa-8">
        <v-container>
            <v-row>
                <v-col md="4">                           
                      <v-card class="mx-auto" max-width="344" color="teal">
                        <v-card-text>
                            <div>Indicadores del Sistema</div>
                            <p class="display-1 text--primary" v-if="indicators.length != 0">
                                {{indicators}}
                            </p>
                            <p v-else>
                                <v-progress-linear indeterminate color="info"></v-progress-linear>
                            </p>
                        </v-card-text>
                        <v-card-actions>                        
                            <v-btn text color="deep-purple accent-4" @click="$router.push({name:'indicators.list'})">
                            Ver Mas
                            </v-btn>
                        </v-card-actions>
                      </v-card>
                </v-col>
                <v-col md="8">
                    <v-card class="mx-auto" max-width="400" color="blue lighten-2">
                    <div id="chart" color="teal">
                        <apexchart type="bar" height="350" :options="chartOptions" :series="series"></apexchart>
                    </div>
                    </v-card>
                </v-col>
            </v-row>
            <v-row >
                <v-col md="4">                           
                      <v-card class="mx-auto" max-width="344" color="teal">
                        <v-card-text>
                            <div>Indicadores Propios</div>
                            <p class="display-1 text--primary">
                                {{custom_indicators}}
                            </p>
                        </v-card-text>
                        <v-card-actions>                        
                            <v-btn text color="deep-purple accent-4" @click="$router.push({name:'indicators.Customlist'})">
                            Ver Mas
                            </v-btn>
                        </v-card-actions>
                      </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    
    export default {
        
        data(){
            return {
                    indicators: '',
                    custom_indicators:'',
                    series: [{
                              data: []
                            }],
                    chartOptions: {
                        chart: {
                            type: 'bar',
                            height: 350
                        },
                        plotOptions: {
                            bar: {
                                horizontal: true,
                            }
                        },
                        dataLabels: {
                            enabled: false
                            },
                        xaxis: {
                            categories: [],
                        }
                    }
            }
        },
        mounted() {

            const self = this;

            self.$store.commit('setBreadcrumbs',[
                {label:'Indicadores',name:'indicators.create'}
            ]);
            self.loadIndicators();
            self.getBarChartData();
            self.loadCustomIndicators();
        },

        methods:{
            
            loadIndicators(){
                    const self = this;
                            axios.get('/admin/indicators-count/').then(function(response) {                    
                            self.indicators=response.data.data;                                  
                            });
                //console.log(self.series[0].data);
                //console.log(self.chartOptions.xaxis.categories);                               
            },
            getBarChartData(){
                const self = this;

                axios.get('/admin/indicatorsBarCharData').then(function(response) {                    
                
                
                response.data.data.forEach(function(element) {
                    self.series[0].data.push(element.series);
                    console.log(element.series);
                    
                    self.chartOptions.xaxis.categories.push(element.categorie);
                });                                  
                
                });
            },
            loadCustomIndicators(){
                const self = this;
                            axios.get('/admin/custom-indicators-count/').then(function(response) {                    
                            self.custom_indicators=response.data.data;  
                            console.log(self.custom_indicators);                                
                            });
            }
        },
    }
</script>