<template>
    <div class="page_wrap_vue pa-8">
      <v-card color="#385F73" dark>
        <v-card-title>
          <p class="display-1 text--primary">
              Datos Basicos
          </p>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-row>
            <v-col>
                <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Nombre" required outlined></v-text-field>                
            </v-col>
          </v-row>
          <v-row>
            <v-col>
                <v-text-field v-model="email" :rules="emailRules" label="E-mail" required outlined></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
               <v-file-input label="Logo" outlined prepend-icon="mdi-camera" @change="onFileChange()" v-model="url"></v-file-input>
            </v-col>
               <v-img v-if="preview" :src="preview" aspect-ratio="1.7"/>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field v-model="ruc" :rules="rucRules" label="Rut" outlined required></v-text-field>
            </v-col>
            <v-col>
              <v-select v-model="jornada" :rules="[v => !!v || 'Seleccione Un Tipo de Jornada']"
                          label="Tipo de Jornada" required :items="jornadas" outlined>                          
              </v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-select v-model="region" :rules="[v => !!v || 'Seleccione una region']"
                          label="Region" required :items="regiones" outlined>                          
              </v-select>
            </v-col>
            <v-col>
              <v-select v-model="provincia" :rules="[v => !!v || 'Seleccione una provincia']"
                          label="Provincia" required :items="provincias" outlined>                          
              </v-select>              
            </v-col>
            <v-col>      
              <v-select v-model="comuna" :rules="[v => !!v || 'Seleccione una region']"
                          label="Comuna" required :items="comunas" outlined>                          
              </v-select>                      
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-textarea
                label="Direccion"
                auto-grow
                outlined
                rows="3"
                row-height="25"
                v-model="address"  
              ></v-textarea>
            </v-col>
          </v-row>
          <v-row>
            <v-btn
              :disabled="!valid"
              color="success"
              class="mr-4"
              @click="validate"
            >
              Guardar
            </v-btn>
          </v-row>                                   
        </v-form>
      </v-card>
    </div>
</template>

<script>
    export default {
    data: () => ({
      jornadas: ['Completa','Parcial'],
      jornada: '',
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'El nombre es requerido',
        v => (v && v.length <= 10) || 'El Nombre debe ser minimo 2 caracteres',
      ],
      email: '',
      emailRules: [
        v => !!v || 'El E-mail es requerido',
        v => /.+@.+\..+/.test(v) || ' Introduzco un E-mail valido',
      ],
      rut: '',
      rutRules: [
        v => !!v || 'El Ruc es requerido',
        v => (v && v.length <= 10) || 'No posee la longitud esperada',
      ],
      dialog: false,
      regiones: [],
      provincias: [],
      comunas: [],
      address: '',
      
      url: null,
      preview : null,      
    }),

    methods: {
      validate () {
        this.$refs.form.validate()
      },

      reset () {
        this.$refs.form.reset()
      },

      resetValidation () {
        this.$refs.form.resetValidation()
      },

      onFileChange() {
        const self = this;
        if(self.preview == null)
        {
          self.preview = URL.createObjectURL(self.url);
        }
        else
        {
          self.preview = null;
        }
      },

    },
    mounted() {

        const self = this;

        self.$store.commit('setBreadcrumbs',[
            {label:'Empleados',name:'employees.index'}
        ]);
    }
    }
</script>