<template>
    <div class="page_wrap_vue pa-8">
            <v-row class="mb-6" no-gutters >
                <v-col md="4">
                    <v-card
                        class="pa-2"
                        outlined
                        tile
                        color="cyan"
                    >
                        <v-card-title>
                            <v-icon large left>mdi-person-supervisor-circle</v-icon>
                            <span class="title font-weight-light">Equipos Personales</span>
                        </v-card-title>
                        <v-card-text class="headline font-weight-bold">
                           0
                        </v-card-text>
                        <v-card-actions>
                            <v-btn text @click="$router.push({name:'students.list'})">Ver Mas</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
                <v-col
                    md="4"
                    offset-md="1"
                >
                
                <v-card
                    class="pa-2"
                    outlined
                    tile
                    color="#32a84a"
                >
                    <v-card-title>
                        <v-icon large left>mdi-book</v-icon>
                        <span class="title font-weight-light">Equipos Educativos</span>
                    </v-card-title>
                    <v-card-text class="headline font-weight-bold">
                       0
                    </v-card-text>
                    <v-card-actions>
                        <v-btn text @click="$router.push({name:'students.list'})">Ver Mas</v-btn>
                    </v-card-actions>                    
                </v-card>
                </v-col>
            </v-row>

            <v-sheet
            tile
            height="65"
            class="d-flex things"
            >
            <v-btn
                icon
                class="ma-2"
                @click="$refs.calendar.prev()"
            >
                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-select
                v-model="type"
                :items="types"
                dense
                outlined
                hide-details
                class="ma-2"
                label="Visualizacion"
            ></v-select>
            <v-spacer></v-spacer>
            <v-btn
                icon
                class="ma-2"
                @click="$refs.calendar.next()"
            >
                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
            </v-sheet>
            <v-sheet height="600">
            <v-calendar
                ref="calendar"
                v-model="value"
                :weekdays="weekday"
                :type="type"
                :events="events"
                :event-overlap-mode="mode"
                :event-overlap-threshold="30"
            ></v-calendar>
            </v-sheet>          
            
    </div>
</template>

<script>
    export default {
        mounted() {

            const self = this;

            self.$store.commit('setBreadcrumbs',[
                {label:'Planificaciones',name:'plannings.create'}
            ]);
        },
        data: () => ({
            type: 'month',
            types: [
                    {text:'Mes',value:'month'}, 
                    {text:'Semana',value:'week'}, 
                    {text:'Dia',value:'day'}, 
                    {text:'Diario',value:'4day'}
                ],
            mode: 'stack',
            modes: ['stack', 'column'],
            weekday: [0, 1, 2, 3, 4, 5, 6],
            weekdays: [
                { text: 'Domingo - Sabado', value: [0, 1, 2, 3, 4, 5, 6] },
                { text: 'Lunes - Sabado', value: [1, 2, 3, 4, 5, 6, 0] },
                { text: 'Lunes - Viernes', value: [1, 2, 3, 4, 5] },
            ],
            value: '',
            events: [],
            colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
            names: ['Entrenamientos', 'Clases', 'Eventos'],
        }),
            methods: {
      
                     },
    }
</script>

<style>
.things{
    padding-bottom: 12px;
    margin-bottom: 10;
}
</style>

