<template>
    <div class="page_wrap_vue pa-8">
        <v-row>
            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Lugares</v-card-title>          
                    
                    <v-col justify="center">
                        <v-avatar size="125">
                            <v-icon dark size="70">mdi-map-marker-multiple</v-icon>
                        </v-avatar>
                        {{locations}}
                    </v-col>
                    <v-card-actions>
                    <v-btn text @click="$router.push({name:'locations.list'})">Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Tiendas</v-card-title>                    
                    <v-col justify="center" >
                        <v-avatar size="125">
                            <v-icon size="70">mdi-cart</v-icon>
                        </v-avatar>
                        {{stores}}
                    </v-col>              
                    <v-card-actions>
                    <v-btn text @click="$router.push({name:'stores.list'})">Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col>
                <v-card color="#385F73" dark>
                    <v-card-title class="headline">Gymnasios</v-card-title>
                    <v-row>
                        <v-col justify="center">
                            <v-avatar size="125">
                                <v-icon dark size="70">mdi-weight-lifter</v-icon>
                            </v-avatar>
                            {{gyms}}
                        </v-col>
                    </v-row>
                    <v-card-actions>
                    <v-btn text @click="$router.push({name:'gyms.list'})">Ver Mas</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        
        data () {
            return {
             stores: 0,
             gyms: 0,
             locations: 0
            }
        },

        mounted() {

            const self = this;

            self.$store.commit('setBreadcrumbs',[
                {label:'Locaciones',name:'locations.index'}
            ]);
            self.getCountLocations();
        },

        methods:{
            
            getCountLocations(){
                const self = this;
                 axios.get('/admin/locationsCount/').then(function(response) {                    
                            self.locations=response.data.data[0].Locations;
                            self.gyms=response.data.data[0].Gyms;  
                            self.stores=response.data.data[0].Stores;                                                                                       
                            });                                
            }
        }
    }
</script>