<template>
<v-container>
    <v-row>
      <v-col>
        <v-dialog v-model="dialog" persistent max-width="700px">
            <template v-slot:activator="{ on, oas }">
                <v-btn block color="info" dark v-bind="oas" v-on="on">
                    Registrar Tienda
                </v-btn>
            </template>
            <v-card>
                <v-card-title>
                <span class="headline">Registrar Tienda</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row align="center">
                    <v-col class="d-flex" cols="12" sm="6">
                      <v-text-field label="Nombre" outlined v-model="name" />
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col class="d-flex" cols="12" sm="6">
                      <v-file-input label="Avatar o Logo" outlined prepend-icon="mdi-camera" @change="onFileChange()" v-model="avatar"/>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                      <v-img v-if="preview" :src="preview" aspect-ratio="1.7"/>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col class="d-flex" cols="12" sm="6">
                      <v-select  v-model="region_selected" label="Region" outlined :items="regions" @focus="loadRegions()" item-text="region" item-value="id"/>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                      <v-select v-model="province_selected" label="Provincia" outlined :items="provinces" @focus="loadProvinces()" item-text="provincia" item-value="id"/>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                      <v-select v-model="comune_selected" label="Comuna" outlined :items="comunes" @focus="loadCommunes()" item-text="comuna" item-value="id"/>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                      <v-col class="d-flex" cols="12" sm="6">
                        <v-textarea outlined label="Descripcion" v-model="description"/>
                      </v-col>
                      <v-col class="d-flex" cols="12" sm="6">
                        <v-textarea outlined label="Direccion" v-model="address"/>
                      </v-col>
                  </v-row>
                  <v-row align="center">
                    <span class="h6">Servicios</span>
                    <v-btn class="mx-2" fab dark small color="primary" @click="addService()">
                        <v-icon dark> mdi-plus </v-icon>
                    </v-btn>
                  </v-row>
                  <v-row v-for="service in services" :key="service.id" align="center">                      
                      <v-col class="d-flex" cols="12" sm="6">
                        <v-text-field label="Servicio" outlined v-model="service.name" />
                      </v-col>
                      <v-col class="d-flex" cols="12" sm="6">
                            <v-btn class="mx-2" fab dark small color="yellow" @click="deleteService(service.id)">
                              <v-icon dark> mdi-minus </v-icon>
                            </v-btn>
                      </v-col>
                  </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">Cerrar</v-btn>
                <v-btn color="blue darken-1" text @click="saveGym()">Agregar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog >
      </v-col>  
    </v-row>
  
    <v-row>
        <v-col md="12">
            <v-card color="teal">
                <v-card-title>
                    <v-text-field
                        v-model="search"
                        append-icon="search"
                        label="Buscar"
                        single-line
                        hide-details
                    />
                </v-card-title>
                <v-data-table
                :headers="headers"
                :items="locations"
                :search="search"
                :loading="loading" 
                loading-text="Cargando Indicadores..."
                class="teal"
                >
                  <template v-slot:item.services="{ item }">
                        <v-btn
                        class="ma-2"                        
                        small
                        fab
                        color="green"
                        >
                        <v-icon>mdi-eye</v-icon>
                        </v-btn>                      
                  </template>
  
                  <template v-slot:item.avatar="{ item }">
                    <v-avatar>
                    <img
                        :src=item.avatar
                        :alt=item.name
                    >
                    </v-avatar>
                  </template>
                  <template v-slot:item.actions="{ item }">
                  <v-icon small class="mr-2">
                      mdi-pencil
                    </v-icon>
                    <v-icon small>
                      mdi-delete
                    </v-icon>
                  </template>
                    
                </v-data-table>
            </v-card>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Nombre', value: 'title' },
          { text: 'Descripcion', value: 'description' },
          { text: 'Avatar', value: 'avatar',sortable: false },
          { text: 'Tipo', value: 'type_owner' },
          { text: 'Direccion', value: 'addres' },
          { text: 'Comuna', value: 'comunas_id' },
          { text: 'Servicios', value: 'services', sortable: false},
          { text: 'Acciones', value: 'actions', sortable: false }
        ],
        locations: [],
        loading: true,
        dialog: false,
        regions: [],
        provinces: [],
        comunes: [],
        name: null,
        description: null,
        avatar: null,
        type_owner: 'Privada',
        address: null,
        preview: null,
        region_selected: null,
        province_selected: null,
        type_owner_selected: null,
        service_add: null,
        services: [],
        comune_selected: null,
      }
    },
    mounted(){
        const self = this;
        
        self.$store.commit('setBreadcrumbs',[
                {label:'Locaciones',to:{name:'locations.index'}},
                {label:'Tiendas',name:'store.list'}
            ]);
        self.loadGyms();

    },
    methods:{
            
            loadGyms(){
                    const self = this;
                            axios.get('/admin/getStores/').then(function(response) {                    
                            self.locations=response.data.data;
                            console.log(response.data.data); 
                            self.loading = false;                                 
                            });
                
                console.log(self.locations);                               
            },

            onFileChange() {
             const self = this;
             
             if(self.preview == null)
             {
                 self.preview = URL.createObjectURL(self.avatar);
             }
             else
             {
                 self.preview = null;
             }
            
            },    
            
            loadRegions(){
                const self = this;
                
                axios.get('/admin/getRegions/').then(function(response) {                    
                self.regions=response.data.data;      
                console.log(response.data.data);                                                        
                });

                self.region_selected = null;
                self.provinces = [];
                self.comunes = []
                
            },

            loadProvinces(){
                const self = this;
                self.comunes = [];
                if(self.region_selected !=null)
                {
                    axios.get('/admin/GetProvinceRegion/'+self.region_selected).then(function(response) {                    
                    self.provinces=response.data.data;      
                    console.log(response.data.data);                                                        
                    });
                }
                else
                {
                    return
                }
            },

            loadCommunes(){
                const self = this;
                
                if(self.province_selected !=null)
                {
                    axios.get('/admin/GetProvinceCommune/'+self.province_selected).then(function(response) {                    
                    self.comunes=response.data.data;      
                    console.log(response.data.data);                                                        
                    });
                }
                else
                {
                    return
                }                

            },

            addService(){
              const self = this;
              let count = Object.keys(self.services).length + 1;
              self.services.push({name:'',id: count});
            },

            deleteService(id){
              const self = this;              
              self.services = self.services.filter(function(ele){ return ele.id != id; });              
            },

            saveGym(){
              const self = this;
              const formData = new FormData();

              formData.append('avatar', self.avatar,self.avatar.name);
              formData.append('name', self.name);
              formData.append('description', self.description);
              formData.append('comuna', self.comune_selected);
              formData.append('address', self.address);
              formData.append('type_owner', self.type_owner);
              console.log(self.services);
              self.services.forEach((item)=>{
                formData.append('services[]', item.name);
              });
              
                    
            axios.post('/admin/save_store',formData,{headers: {'Content-Type': 'multipart/form-data'}}).then(function(response) {

                    self.$store.commit('showSnackbar',{
                       message: response.data.message,
                       color: 'success',
                       duration: 3000
                    });
                   
                    // reset
                    self.name = null;
                    self.description = null;
                    self.comune_selected = null;
                    self.address = null;
                    self.avatar = null;                                        
                    self.services = [];
                    self.dialog = false;

                }).catch(function (error) {
                    if (error.response) {
                        self.$store.commit('showSnackbar',{
                            message: error.response.data.message,
                            color: 'error',
                            duration: 3000
                        });
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        console.log('Error', error.message);
                    }
                });


            }
    }
  }
</script>
