<template>
    <div class="page_wrap_vue pa-8">
        <div class="page_wrap_vue pa-8">
            <v-row class="mb-6" no-gutters >
                <v-col md="4">
                    <v-card
                        class="pa-2"
                        outlined
                        tile
                        color="#0d470e"
                    >
                        <v-card-title>
                            <v-icon large left>mdi-calendar</v-icon>
                            <span class="title font-weight-light">Planificaciones</span>
                        </v-card-title>
                        <v-card-text class="headline font-weight-bold">
                           0
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col
                    md="4"
                    offset-md="1"
                >
                
                <v-card
                    class="pa-2"
                    outlined
                    tile
                    color="#32a84a"
                >
                    <v-card-title>
                        <v-icon large left>mdi-calendar-multiple</v-icon>
                        <span class="title font-weight-light">Actividades</span>
                    </v-card-title>
                    <v-card-text class="headline font-weight-bold">
                       0
                    </v-card-text>
                </v-card>
                </v-col>
            </v-row>
        </div>
        
        <div class="flex-grow-1 pa-2">
            <v-btn @click="$router.push({name:'plannings.create'})" class="primary lighten-1" dark>
                        Nuevo Plan
                <v-icon right dark>add</v-icon>
            </v-btn>
        </div>

    </div>
</template>

<script>
    export default {
        mounted() {

            const self = this;

            self.$store.commit('setBreadcrumbs',[
                {label:'Planificaciones',name:'plannings.create'}
            ]);
        }
    }
</script>