<template>
    <div class="component-wrap">
        <v-row>
            <v-col>
                <v-container class="teal darken-1">
                    <v-row>
                        <v-col>
                            <span class="headline white--text">Datos Basicos</span>
                        </v-col>
                        
                    </v-row>
                    <v-divider class="mx-4"></v-divider>
                    <v-row>
                        <v-col>
                            <v-text-field
                            outlined
                            :counter="50"
                            label="Nombre del Plan"
                            required
                        ></v-text-field>
                        </v-col>
                        <v-col>
                            <v-select label="Grado" outlined :items="items" item-text="name" item-value="id" v-model="courseLvl" @change="getPlaningsUnits(courseLvl)"></v-select>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-text-field
                            outlined
                            label="Numero Total de Clases"
                            required
                            v-model="totalClasS"
                        ></v-text-field>
                        </v-col>
                        <v-col>
                            <v-select :items="clases" v-model="nClasS" label="Clases Semanales" outlined></v-select>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
        </v-row>
        <v-row>
            <v-col> 
                <v-container class="teal darken-1" v-if="totalClasS!=''" align-content="center" align="center">
                    <v-row v-for="units in planningsUnitsPrev" :key="units.id">
                       <v-col>
                         <v-card width="900">
                                <v-card-title>
                                    <h3 class="display-1">{{units.name}} <v-icon large left>mdi-pencil</v-icon></h3>
                                    <v-divider class="mx-4" vertical></v-divider>
                                </v-card-title>
                                <v-card-text>
                                    {{units.description}}
                                </v-card-text>
                                <v-divider class="mx-4"></v-divider>
                                <v-card-text>
                                    <span class="subheading">Obejetivos de Aprendizaje</span>                                   
                                </v-card-text>                      
                                <v-divider class="mx-4"></v-divider>
                                <v-card-text>
                                   <v-row >
                                    <v-col md="1" v-for="objective in units.unit_json.oas" :key="objective.id">
                                                <v-chip pill @click="showToastInfo(objective.description)">
                                                    {{objective.name}}
                                                </v-chip>
                                    </v-col>
                                   </v-row>
                                </v-card-text>
                                <v-divider class="mx-4"></v-divider>
                                <v-card-text>
                                    <span class="subheading">Indicadores</span>                                      
                                </v-card-text>
                                <v-divider class="mx-4"></v-divider>
                                <v-card-text>
                                    <v-row>
                                        <v-col v-for="indicator in units.unit_json.indicators" :key="indicator.id">
                                            <v-chip pill @click="showToastInfo(indicator.description)">
                                                {{indicator.name}}
                                            </v-chip>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                                <v-divider class="mx-4"></v-divider>                                
                                <v-card-text>
                                    <span class="subheading">Actitudes</span>                                    
                                </v-card-text>
                                 <v-divider class="mx-4"></v-divider>
                                <v-card-text>
                                        <v-row>
                                            <v-col v-for="actitud in units.unit_json.actitudes" :key="actitud.id">
                                                <v-chip pill @click="showToastInfo(actitud.description)">
                                                    {{actitud.name}}
                                                </v-chip>
                                            </v-col>
                                        </v-row>
                                </v-card-text>
                                 <v-divider class="mx-4"></v-divider>   
                                <v-card-text>
                                    <span class="subheading">Semanas</span>
                                    <v-icon large left @click="addWeek(units)" color="teal darken-1">mdi-plus</v-icon>                                      
                                </v-card-text>
                                <v-card-text>
                                    <v-row v-if="units.weeks.length!== 0">
                                        <v-row v-for="week in units.weeks" :key="week.weekNum">
                                            
                                            <v-col><span>Semana {{week.weekNum}}</span></v-col>
                                            <v-row>
                                                <v-col> 
                                                    <v-select                                                                        
                                                        :items="units.unit_json.oas"
                                                        item-text="name"
                                                        item-value="id"
                                                        return-object
                                                        v-model="week.oas"                                                                                                                                                                               
                                                        label="OAS"                                
                                                        outlined
                                                        multiple
                                                        chips
                                                        deletable-chips                                            
                                                        required
                                                    />
                                                </v-col>
                                                <v-col>
                                                    <v-col><v-select :items="units.unit_json.actitudes" v-model="week.oas" label="Actitudes" outlined></v-select></v-col> 
                                                </v-col>
                                                <v-col>
                                                    <v-col><v-select :items="units.unit_json.actitudes" v-model="week.oas" label="Actividades" outlined></v-select></v-col> 
                                                </v-col>
                                                <v-col>
                                                    <v-col><v-select :items="['Procesual','Sumativa']" v-model="evType" label="Tipo de Evaluacion" outlined></v-select></v-col> 
                                                </v-col>
                                            </v-row>
                                        
                                        </v-row>
                                    </v-row>
                                </v-card-text>      
                         </v-card>
                       </v-col>
                    </v-row>
                </v-container>
            </v-col>
        </v-row>
            <v-snackbar v-model="snackbar">
                {{ text }}

                <template v-slot:action="{ attrs }">
                    <v-btn color="teal darken-1" text v-bind="attrs" @click="snackbar = false">
                    Cerrar
                    </v-btn>
                </template>
            </v-snackbar>    
    </div>
    
</template>

<script>
    import moment from 'moment';

    export default {
        data(){
                return {
                            items: [{}],
                            clases: [1,2,3,4,5],
                            nClasS:'',
                            totalClasS:'',
                            nClasSAvaliable: '',
                            nClasSPicker: '',
                            UnitName: '',
                            ClassNumber: '',
                            attrs:'',
                            e1: 1,
                            weeks:0,
                            units:[],
                            dialog2: false,
                            dialog3: false,
                            courseLvl: '',
                            Oas:[{}],
                            selected_oas: [],
                            selected_unit: '',
                            text: '',
                            snackbar: false,
                            indicators: [],
                            selected_indicators: [],
                            isLoading: true,
                            search: null,
                            planningsUnitsPrev:[],
                            text:'',
                            snackbar: false,
                            

                        }
                },

        mounted(){
            const self = this;
            self.getCoursesLvls();
            
        },
        methods:{
            getCoursesLvls(){
                const self = this;

                axios.get('/admin/courseLevels').then(function(response) {                    
                    self.items = response.data.data;
                    //console.error(self.items);                                                            
                });
            },

            getClassNumbers(){
                const self = this;
                let totalWeeks = moment(self.date2).diff(moment(self.date1), 'weeks');
                let class_number = totalWeeks * self.nClasS;
                self.nClasSAvaliable = class_number;
                self.nClasSPicker = class_number;
                self.getOas(self.courseLvl);
            },

            addUnit(){
                const self = this;
                self.dialog = false;
                let className = self.UnitName;
                let classNum = self.ClassNumber;
                let selected;
                let id = Object.keys(self.units).length+1;

                if (Object.keys(self.units).length === 0) 
                {
                    self.units.push({name: className,classN: classNum,classStart: '0',classEnd: classNum,id: id,indicators: [],oas: []});
                    self.nClasSPicker = self.nClasSPicker - classNum;
                    //console.log(self.units);
                    self.selected_unit = id;
                    self.UnitName = '';
                    self.ClassNumber = '';
                    self.addOas();
                    
                }
                else
                {
                    
                    let lastElement = self.units[self.units.length-1];
                    self.nClasSPicker = self.nClasSPicker - classNum;
                    let Ending = parseInt(classNum) + parseInt(lastElement.classEnd);
                    self.units.push({name: className,classN: classNum,classStart: lastElement.classEnd,classEnd: Ending, id: id,indicators: [],oas: []});
                    self.selected_unit = id;
                    self.addOas();
                    self.UnitName = '';
                    self.ClassNumber = '';
                }

            },
            
            getOas(id){
                const self = this;
                axios.get('/admin/objectives-course/'+id).then(function(response) {                    
                    self.Oas = response.data.data;   
                          
                });
                
                //console.log(self.Oas);
                
                
            },

            selectedU(id){                
                const self = this;
                self.selected_unit = id;
                //console.log(self.selected_unit);                
            },

            addOas(){
                const self = this;
                let oasToSave;
                let selected;
                //console.log(self.units[self.selected_unit]);
                
                self.selected_oas.forEach(element => {
                    selected = self.Oas.find(element1 => element1.name == element);
                    self.units[self.selected_unit-1].oas.push({'name': selected.name,'id':selected.id,'description':selected.description});
                });
                //console.log(self.units[self.selected_unit-1]);
                self.selected_oas = [];
                self.selected_unit = '';
                self.dialog2 =false;

            },

            indicatorsForm(id){
                const self = this;
                axios.get('/admin/objectives-indicators/'+id).then(function(response) {                                        
                    self.indicators = response.data.data;    
                    //console.error(self.indicators);      
                });
                self.dialog3 = true;                
            },

            addIndicartors(){

            },

            getPlaningsUnits(id){
                const self = this;
                axios.get('/admin/units-templates-preview/'+id).then(function(response) {                         
                    self.planningsUnitsPrev = response.data.data;
                    self.planningsUnitsPrev.map((units)=>{
                        units.unit_json = JSON.parse(units.unit_json);
                        units.weeks = [];
                        return units;  
                    });
                });
                console.log(self.planningsUnitsPrev);
                
            },
            changePlaningUnit(val){
                const self = this;
               // console.log(val);
                self.val = val;
            },

            showToastInfo(text){
                const self = this;
                self.text = text;
                self.snackbar = true;
            },

            addWeek(units){
                const self = this;
                const unit = self.planningsUnitsPrev.indexOf(units);
                let classes= {oas:[],indicators:[],activities:[],actitudes:[],materiales:[],date:'',evaluationType:''};
                let week = {clases:[],weekNum:self.planningsUnitsPrev[unit].weeks.length+1};
                for (let index = 0; index <  self.nClasS; index++) {
                    week.clases.push(classes);
                }
                self.planningsUnitsPrev[unit].weeks.push(week);
                
            }
        },
        
    }
</script>