<template>
<v-container>
    <v-row>
      <v-col>
        <v-dialog v-model="dialog_create" persistent max-width="600px">
            <template v-slot:activator="{ on, oas }">
                <v-btn block color="info" dark v-bind="oas" v-on="on"  @click="loadCourseLvls()">
                    Crear Actitud
                </v-btn>
            </template>
            <v-card>
                <v-card-title>
                <span class="headline">Crear Actitud</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                    <v-row>
                          <v-col>
                            <v-select                                                                        
                                :items="courselvs"
                                item-text="name"                                                              
                                item-value="id"
                                v-model="selected_course"                                                                                                                                                                               
                                label="Nivel De la Actitud"                                                                        
                                outlined
                                required
                            ></v-select>
                          </v-col>
                    </v-row>
                    <v-row>
                          <v-col>
                            <v-text-field required v-model="name" label="Nombre" placeholder="Nombre de la Actitud" outlined></v-text-field>
                          </v-col>
                          <v-col>
                            <v-textarea
                              outlined
                              v-model="description" auto-grow
                              label="Descripcion de la Actitud"
                              rows="4"
                              required
                            ></v-textarea>
                          </v-col>
                    </v-row>                      
                </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog_create = false">Cerrar</v-btn>
                <v-btn color="blue darken-1" text @click="createActitud()">Agregar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog> 
      </v-col>  
    </v-row>
    <v-row>
        <v-col md="12">
            <v-card color="teal">
                <v-card-title>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Buscar"
                    single-line
                    hide-details
                ></v-text-field>
                </v-card-title>
                <v-data-table
                :headers="headers"
                :items="actituds"
                :search="search"                
                class="teal"
                >
                  <template v-slot:item.actions="{ item }">
                        <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-pencil
                        </v-icon>
                        <v-icon small @click="deleteItem(item)">
                        mdi-delete
                        </v-icon>
                  </template>
                </v-data-table>
            </v-card>
        </v-col>
        <v-dialog v-model="dialog_update" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Modificar Actitud</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                      <v-row>
                          <v-col>
                            <v-select                                                                        
                                :items="courselvs"
                                item-text="name"                                                              
                                item-value="id"
                                v-model="selected_course"                                                                                                                                                                               
                                label="Nivel De Curso"                                                                        
                                outlined
                                required
                            ></v-select>
                          </v-col>
                    </v-row>
                    <v-row>
                          <v-col>
                            <v-text-field required v-model="name_u" label="Nombre de Actitud" placeholder="Nombre de la Actitud" outlined></v-text-field>
                          </v-col>
                          <v-col>
                            <v-textarea
                              outlined
                              v-model="description_u" auto-grow
                              label="Descripcion de la Actitud"
                              rows="4"
                              required
                            ></v-textarea>
                          </v-col>
                    </v-row>
                    <v-row>
                          <v-col> 
                            <v-radio-group v-model="status_u" row>
                                  <v-radio label="Vigente" value="Vigente"></v-radio>
                                  <v-radio label="Desusado" value="Desusado"></v-radio>
                            </v-radio-group>
                          </v-col>                          
                    </v-row>    
                </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog_update = false">Cerrar</v-btn>
                <v-btn color="blue darken-1" text @click="updateItem()">Modificar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>       
        <v-dialog v-model="dialog_delete" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Eliminar Actitud</span>
                </v-card-title>
                <v-card-text>¿Esta Seguro de que desea Eliminar la actitud?</v-card-text>
                <v-card-text>La actitud no sera eliminada, pero sera marcada como Desusada y no podra ser incluida en
                  Planificaciones Futuras</v-card-text>                
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog_delete = false">Cerrar</v-btn>
                <v-btn color="blue darken-1" text @click="deleteRequestItem(selected_item)">Eliminar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog> 
    </v-row>
</v-container>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Nombre', value: 'name' },
          { text: 'Descripcion', value: 'description' },
          { text: 'Cursos', value: 'course_levels.name' },
          { text: 'Estatus', value: 'status' },
          { text: 'Acciones', value: 'actions', sortable: false },

        ],
        actituds: [],
        dialog_delete: false,
        dialog_update: false,
        dialog_create: false,
        courselvs: '',
        name: '',
        description: '',
        priority: false,
        status: '',
        priority_u: '',
        name_u: '',
        description_u: '',
        status_u: '',
        selected_course: '',
        selected_actitud: '',
      }
    },
    mounted(){
        const self = this;
        
        self.$store.commit('setBreadcrumbs',[
                {label:'Configuraciones',to:{name:'systemConfig.index'}},
                {label:'Actitudes',name:''}
            ]);
        self.loadActituds();

    },
    methods:{
            
            loadActituds(){
                    const self = this;
                            axios.get('admin/actituds/').then(function(response) {                    
                            self.actituds=response.data.data;
                            console.log(response.data.data); 
                            self.loading = false;                                 
                            });
                
                                              
            },

            loadCourseLvls(){
                const self = this;
                axios.get('/admin/courseLevels').then(function(response) {                    
                self.courselvs=response.data.data; 
                self.dialog = true;
                //console.log(response.data.data);                                 
                })                        
            },

            editItem(item){
              const self = this;
              self.loadCourseLvls();    
              self.name_u = item.name;
              self.description_u = item.description;
              self.status_u = item.status;                        
              self.selected_course = item.course_levels;
              self.selected_actitud = item.id;
              self.dialog_update = true;
            },

            deleteItem(item){
              const self = this;
              self.selected_actitud = item.id;
              self.dialog_delete = true;
            },

            deleteRequestItem(){

                const self = this;
                let payload = {status: 'Desusado'};
               
                axios.post('admin/actituds/'+self.selected_actitud, payload).then(function(response) {
                self.$store.commit('showSnackbar',{
                       message: response.data.message,
                       color: 'success',
                       duration: 3000
                    });
                self.selected_actitud = '';
                self.loadActituds();  
                }).catch(function (error) {
                    if (error.response) {
                        self.$store.commit('showSnackbar',{
                            message: error.response.data.message,
                            color: 'error',
                            duration: 3000
                        });
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        console.log('Error', error.message);
                    }
                });
            },

            updateItem(){
              const self = this;
              let payload = {                   
                    name: self.name_u,
                    description: self.description_u,
                    status: 'Vigente',
                    course_id: self.selected_course.id
                    };
                
                axios.put('admin/actituds/'+self.selected_actitud, payload).then(function(response) {
                self.$store.commit('showSnackbar',{
                       message: response.data.message,
                       color: 'success',
                       duration: 3000
                    });

                    self.name_u = ''; 
                    self.description_u = '';
                    self.selected_course = '';
                    self.loadActituds();
                    self.dialog_update = false;  

                 }).catch(function (error) {
                    if (error.response) {
                        self.$store.commit('showSnackbar',{
                            message: error.response.data.message,
                            color: 'error',
                            duration: 3000
                        });
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        console.log('Error', error.message);
                    }
                });
                
            },

            createActitud(){
               const self = this;
               
               let payload = {                   
                    name: self.name,
                    description: self.description,
                    status: 'Vigente',
                    course_id: self.selected_course
                    };
                axios.post('admin/actitudsCreate', payload).then(function(response) {
                      self.$store.commit('showSnackbar',{
                            message: response.data.message,
                            color: 'success',
                            duration: 3000
                          });
                      self.name = ''; 
                      self.description = '';
                      self.selected_course = '';
                      self.dialog_update = false; 
                      self.selected_actitud = '';
                      self.loadActituds();  
                      
                }).catch(function (error) {
                    if (error.response) {
                        self.$store.commit('showSnackbar',{
                            message: error.response.data.message,
                            color: 'error',
                            duration: 3000
                        });
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        console.log('Error', error.message);
                    }
                });
            }
    }
  }
</script>