<template>
  <v-card>
    <v-toolbar flat color="teal" dark>
      <v-toolbar-title>Solicitudes</v-toolbar-title>
    </v-toolbar>
    <v-tabs vertical>
      <v-tab>
        <v-icon left>mdi-chart-line-variant</v-icon>
        Indicadores
      </v-tab>
      <v-tab-item>
        <v-row>
          <v-col md="12">
            <v-card color="primary">
                <v-card-title>
                    <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
                </v-card-title>
                <v-data-table :headers="headers" :items="objectives" :search="search" class="primary">
                <template v-slot:item.actions="{ item }">
                        <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-pencil
                        </v-icon>
                        <v-icon small @click="deleteItem(item)">
                        mdi-delete
                        </v-icon>
                </template>
                </v-data-table>
            </v-card>
          </v-col>
        </v-row>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Nombre', value: 'name' },
          { text: 'Descripcion', value: 'description' },
          { text: 'Cursos', value: 'course' },
          { text: 'Objetivo Asociado', value: 'oas_id' },
          { text: 'Estatus', value: 'status' },
          { text: 'Usuario', value: 'user_id' },
          { text: 'Acciones', value: 'actions', sortable: false }
        ],
        objectives: [],
        dialog_delete: false,
        dialog_update: false,
        dialog_create: false,
        courselvs: '',
        name: '',
        description: '',
        priority: false,
        status: '',
        priority_u: '',
        name_u: '',
        description_u: '',
        status_u: '',
        selected_course: '',
        selected_objective: '',
      }
    },
    mounted(){
        const self = this;
        
        self.$store.commit('setBreadcrumbs',[
                {label:'Configuraciones',to:{name:'systemConfig.index'}},
                {label:'Solicitudes',name:''}
            ]);
        self.loadCustomIndicators();

    },
    methods:{
            
            loadCustomIndicators(){
                    const self = this;
                            axios.get('admin/custom-indicators-admin/').then(function(response) {                    
                            self.objectives=response.data.data;
                            //console.log(response.data.data); 
                            self.loading = false;                                 
                            });
                
                                              
            }
    }
  }
</script>