<template>
    <div class="page_wrap_vue pa-8">
        <div class="page_wrap_vue pa-8">
            <v-row class="mb-6">
                <v-col md="4">    
                    <v-card class="pa-2" color="#32a84a">
                        <v-card-title>
                            <v-icon large left>mdi-calendar-multiple</v-icon>
                            <span class="title font-weight-light">Plantillas De Unidades</span>
                        </v-card-title>
                        <v-card-text class="headline font-weight-bold">
                            {{unitTemplate}}
                        </v-card-text>
                        <v-card-actions>
                            <v-btn @click="$router.push({name:'systemConfig.unitsTemplatesList'})" class="info" dark>
                                Ver
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
                <v-col md="4">    
                    <v-card class="pa-2" color="#32a84a">
                        <v-card-title>
                            <v-icon large left>mdi-checkbox-marked-outline</v-icon>
                            <span class="title font-weight-light">Objetivos</span>
                        </v-card-title>
                        <v-card-text class="headline font-weight-bold">
                            {{objectives}}
                        </v-card-text>
                        <v-card-actions>
                            <v-btn @click="$router.push({name:'systemConfig.objectives'})" class="info" dark>
                                Ver
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
                <v-col md="4">    
                    <v-card class="pa-2" color="#32a84a">
                        <v-card-title>
                            <v-icon large left>mdi-alpha-a-circle-outline</v-icon>
                            <span class="title font-weight-light">Actitudes</span>
                        </v-card-title>
                        <v-card-text class="headline font-weight-bold">
                            {{Actituds}}
                        </v-card-text>
                        <v-card-actions>
                            <v-btn @click="$router.push({name:'systemConfig.actitudes'})" class="info" dark>
                                Ver
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>                                
            </v-row>
            <v-row class="mb-6">
                <v-col md="4">    
                    <v-card class="pa-2" color="#32a84a">
                        <v-card-title>
                            <v-icon large left>mdi-ballot-recount-outline </v-icon>
                            <span class="title font-weight-light">Solicitudes por Aprobar</span>
                        </v-card-title>
                        <v-card-text class="headline font-weight-bold">
                            {{unitTemplate}}
                        </v-card-text>
                        <v-card-actions>
                            <v-btn @click="$router.push({name:'systemConfig.ItemsConfirmation'})" class="info" dark>
                                Ver
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </div>

    </div>
</template>

<script>
    export default {
        data () {
            return {
                unitTemplate: '0',
                Actituds: 0,
                objectives: 0,

            }
        },

        mounted() {

            const self = this;

            self.$store.commit('setBreadcrumbs',[
                {label:'Configuraciones',name:'systemConfig.index'}
            ]);
        },

        methods: {
            
            unitTemplates(){
                const self = this;
                axios.get('/admin/units-templates').then(function(response) {                    
                    self.unitTemplate = response.data.data;
                    //console.error(self.items);                                                            
                });
                
            }
        }

    }
</script>