<template>
    <div class="page_wrap_vue pa-8">
        <v-container>
            <v-row>
                <v-col md="12">
                    <v-dialog v-model="dialog" persistent max-width="800px">
                        <template v-slot:activator="{ on, oas }">
                            <v-btn block color="info" dark v-bind="oas" v-on="on"  @click="loadCourseLvls()">
                                Crear Unidad
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                            <span class="headline">Crear Unidad</span>
                            </v-card-title>
                            <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col>
                                        <v-text-field required v-model="name_unit" label="Nombre de la Undad" placeholder="Nombre de la Undad" outlined></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-textarea
                                        outlined
                                        v-model="description_unit" auto-grow
                                        label="Descripcion"
                                        rows="4"
                                        required
                                        ></v-textarea>
                                    </v-col>
                                </v-row>    
                                <v-row>
                                    <v-col>
                                        <v-select                                                                        
                                            :items="courselvs"
                                            item-text="name"
                                            @change="loadOas(selected_course)"                                
                                            item-value="id"
                                            v-model="selected_course"                                                                                                                                                                               
                                            label="Nivel De Curso"                                                                        
                                            outlined
                                            required
                                        ></v-select>
                                    </v-col>
                                    <v-col>                                                               
                                        <v-select                                                                        
                                            :items="Oas"
                                            item-text="name"
                                            item-value="item"
                                            return-object
                                            v-model="selected_oas"                                                                                                                                                                               
                                            label="Objetivos de Aprendizaje"                                
                                            outlined
                                            multiple
                                            chips
                                            deletable-chips                                            
                                            required
                                        ></v-select>
                                    </v-col>                                    
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-btn color="blue darken-1" text @click="showIndicators()">Agregar Indicadores</v-btn>
                                    </v-col>
                                    <v-col v-if="indicators_selected">
                                        <v-chip-group v-for="indicators in indicators_selected" :key="indicators.id">
                                            <v-chip close :value="indicators.id" @click:close="deleteIndicator(indicators.id)">{{indicators.name}}</v-chip>
                                        </v-chip-group>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-btn color="blue darken-1" text @click="showActitudes()">Agregar Actitudes</v-btn>
                                    </v-col>
                                    <v-col v-if="selected_actitudes">
                                        <v-chip-group v-for="s_actitudes in selected_actitudes" :key="s_actitudes.id">
                                            <v-chip close :value="s_actitudes.id" @click:close="deleteActitud(s_actitudes.id)">{{s_actitudes.name}}</v-chip>
                                        </v-chip-group>
                                    </v-col>
                                </v-row>
                            </v-container>
                            </v-card-text>
                            <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="dialog = false">Cerrar</v-btn>
                            <v-btn color="blue darken-1" text @click="saveUnit()">Guardarr</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog> 
                </v-col>
            </v-row>
            <v-row>
                <v-col md="12">
                <v-card color="teal">
                    <v-card-title>
                        <v-text-field
                        v-model="search"
                        append-icon="search"
                        label="Buscar"
                        single-line
                        hide-details
                        ></v-text-field>
                    </v-card-title>
                    <v-data-table
                    :headers="headers"
                    :items="units_template"
                    :search="search"
                    :loading="loading" 
                    loading-text="Cargando Unidades..."
                    class="teal"
                    >
                        <template v-slot:item.actions="{ item }">
                            <v-icon small class="mr-2" @click="editItem(item)">
                                mdi-pencil
                            </v-icon>
                            <v-icon small @click="deleteItem(item)" class="mr-2">
                                mdi-delete
                            </v-icon>
                            <v-icon small @click="showItem(item)" class="mr-2">
                                mdi-clipboard-play-outline 
                            </v-icon>
                        </template>            
                    </v-data-table>
                </v-card>
                </v-col>
            </v-row>
        </v-container>

        <v-dialog v-model="dialog_indicators" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Indicadores</span>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col>
                            <v-autocomplete v-model="selected_indicator" :items="indicators_load" item-text="description" return-object outlined>
                                <template v-slot:append-outer >
                                    <v-icon @click="addIndicators()">save</v-icon>
                                </template>
                            </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-list>
                                <v-list-item v-for="indicator_s in indicators_selected" :key="indicator_s.id">
                                    <v-list-item-content>
                                        <v-list-item-title v-text="indicator_s.name"></v-list-item-title>
                                        <v-list-item-subtitle v-text="indicator_s.description"></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-col>
                    </v-row>
                </v-card-text>                
                <v-card-actions>
                 <v-spacer></v-spacer>
                 <v-btn color="blue darken-1" text @click="clearIndicators()">Cancelar</v-btn>
                 <v-btn color="blue darken-1" text @click="dialog_indicators=false">Agregar</v-btn>                
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialog_actituds" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Actitudes</span>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col>
                            <v-autocomplete v-model="selected_actitud" :items="actitudes" item-text="description" return-object outlined>
                                <template v-slot:append-outer >
                                    <v-icon @click="addActitudes()">save</v-icon>
                                </template>
                            </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-list>
                                <v-list-item v-for="actitud_s in selected_actitudes" :key="actitud_s.id">
                                    <v-list-item-content>
                                        <v-list-item-title v-text="actitud_s.name"></v-list-item-title>
                                        <v-list-item-subtitle v-text="actitud_s.description"></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-col>
                    </v-row>
                </v-card-text>                
                <v-card-actions>
                <v-btn color="blue darken-1" text @click="dialog_actituds=false">Agregar</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="clearActitudes()">Cancelar</v-btn>                
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialog_preview" persistent max-width="600px">            
            <v-card>
                <v-card-title>
                    <h2 class="display-1">Pre-visualizacion</h2>
                </v-card-title>
                
                <v-card-text>
                    <v-col>
                        <v-card class="teal">
                            <v-card-title>
                                <h2 class="display-1">{{unit_json.name}}</h2>
                                <v-divider class="mx-4" vertical></v-divider>
                            </v-card-title>
                            <v-card-text>
                                {{unit_json.description}}
                            </v-card-text>
                            <v-divider class="mx-4"></v-divider>
                            <v-card-text>
                                <span class="subheading">Obejetivos de Aprendizaje</span>                                   
                            </v-card-text>                      
                            <v-divider class="mx-4"></v-divider>
                            <v-card-text>
                                <v-expansion-panels class="md-6">
                                    <v-expansion-panel v-for="objective in unit_json.oas" :key="objective.id">
                                        <v-expansion-panel-header expand-icon="mdi-menu-down">{{objective.name}}</v-expansion-panel-header>
                                        <v-expansion-panel-content>{{objective.description}}</v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-card-text>
                            <v-divider class="mx-4"></v-divider>
                            <v-card-text>
                                <span class="subheading">Indicadores</span>                                      
                            </v-card-text>
                            <v-divider class="mx-4"></v-divider>
                            <v-card-text>
                                <v-expansion-panels class="md-6">
                                    <v-expansion-panel v-for="indicator in unit_json.indicators" :key="indicator.id">
                                        <v-expansion-panel-header expand-icon="mdi-menu-down">{{indicator.name}}</v-expansion-panel-header>
                                        <v-expansion-panel-content>{{indicator.description}}</v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-card-text>
                            <v-card-text>
                                <span class="subheading">Actitudes</span>                                    
                            </v-card-text>
                            <v-divider class="mx-4"></v-divider>
                            <v-card-text>
                                <v-expansion-panels class="md-6">
                                    <v-expansion-panel v-for="actitud in unit_json.actitudes" :key="actitud.id">
                                        <v-expansion-panel-header expand-icon="mdi-menu-down">{{actitud.name}}</v-expansion-panel-header>
                                        <v-expansion-panel-content>{{actitud.description}}</v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-card-text>                                                         
                        </v-card>
                    </v-col>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="blue darken-1" text @click="dialog_preview= false">Cancelar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialog_delete" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Eliminar Unidad</span>
                </v-card-title>
                <v-card-text>¿Esta Seguro de que desea Elimina la unidad?</v-card-text>                
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog_delete = false">Cerrar</v-btn>
                <v-btn color="blue darken-1" text @click="deleteRequestItem()">Eliminar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialog_update" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Modificar Unidad</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                    <v-row>
                        <v-col>
                            <v-text-field required v-model="name_unit_u" label="Nombre de la Undad" placeholder="Nombre de la Undad" outlined></v-text-field>
                        </v-col>
                        <v-col>
                            <v-textarea
                            outlined
                            v-model="description_unit_u" auto-grow
                            label="Descripcion"
                            rows="4"
                            required
                            ></v-textarea>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>                                                               
                            <v-select                                                                        
                                :items="Oas"
                                item-text="name"
                                item-value="item"
                                return-object
                                v-model="selected_oas_u"                                                                                                                                                                               
                                label="Objetivos de Aprendizaje"                                
                                outlined
                                multiple
                                chips
                                deletable-chips                                            
                                required
                                ></v-select>
                        </v-col>      
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-btn color="blue darken-1" text @click="showIndicators_u()">Agregar Indicadores</v-btn>
                        </v-col>
                        <v-col>
                            <v-chip-group v-for="indicators in selected_indicators_u" :key="indicators.id">
                                <v-chip close :value="indicators.id" @click:close="deleteIndicator_u(indicators.id)">{{indicators.name}}</v-chip>
                            </v-chip-group>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-btn color="blue darken-1" text @click="showActitudes_u()">Agregar Actitudes</v-btn>
                        </v-col>
                        <v-col v-if="selected_actitudes">
                            <v-chip-group v-for="s_actitudes in selected_actitudes_u" :key="s_actitudes.id">
                                <v-chip close :value="s_actitudes.id" @click:close="deleteActitud_u(s_actitudes.id)">{{s_actitudes.name}}</v-chip>
                            </v-chip-group>
                        </v-col>
                    </v-row>                    
                </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog_update = false">Cerrar</v-btn>
                <v-btn color="blue darken-1" text @click="updateUnit()">Modificar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialog_indicators_u" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Indicadores</span>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col>
                            <v-autocomplete v-model="selected_indicators_u" :items="indicators_load" item-text="description" return-object outlined>
                                <template v-slot:append-outer >
                                    <v-icon @click="addIndicators_u()">save</v-icon>
                                </template>
                            </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-list>
                                <v-list-item v-for="indicator_s in selected_indicators_u" :key="indicator_s.id">
                                    <v-list-item-content>
                                        <v-list-item-title v-text="indicator_s.name"></v-list-item-title>
                                        <v-list-item-subtitle v-text="indicator_s.description"></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-col>
                    </v-row>
                </v-card-text>                
                <v-card-actions>
                 <v-spacer></v-spacer>
                 <v-btn color="blue darken-1" text @click="clearIndicators()">Cancelar</v-btn>
                 <v-btn color="blue darken-1" text @click="dialog_indicators=false">Agregar</v-btn>                
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialog_actituds_u" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Actitudes</span>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col>
                            <v-autocomplete v-model="selected_actitudes_u" :items="actitudes" item-text="description" return-object outlined>
                                <template v-slot:append-outer >
                                    <v-icon @click="addActitude_u()">save</v-icon>
                                </template>
                            </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-list>
                                <v-list-item v-for="actitud_s in selected_actitudes_u" :key="actitud_s.id">
                                    <v-list-item-content>
                                        <v-list-item-title v-text="actitud_s.name"></v-list-item-title>
                                        <v-list-item-subtitle v-text="actitud_s.description"></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-col>
                    </v-row>
                </v-card-text>                
                <v-card-actions>
                <v-btn color="blue darken-1" text @click="dialog_actituds_u=false">Agregar</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="clearActitudes()">Cancelar</v-btn>                
                </v-card-actions>
            </v-card>
        </v-dialog>        
    </div>
</template>

<script>
export default {
    data () {
        return {
            search: '',
            headers: [
            { text: 'Nombre', value: 'name' },
            { text: 'Descripcion', value: 'description' },
            { text: 'Curso Asociado', value: 'course_levels.name' },
            { text: 'Acciones', value: 'actions', sortable: false }
            ],
            units_template: [],
            loading: true,
            selected_course: '',
            courselvs: [],
            dialog: false,
            selected_oas: [],
            Oas: [],
            name_unit: '',
            description_unit: '',
            indicators_selected:[],
            indicators_load: [],
            dialog_indicators: false,
            dialog_indicators_u: false,
            selected_indicator:'',
            actitudes: [],
            selected_actitudes: [],
            selected_actitud: '',
            dialog_actituds: false,
            dialog_actituds_u: false,
            unit_json: '',
            dialog_preview: false,
            dialog_delete: false,
            selected_unit: '',
            dialog_update: false,
            name_unit_u: '',
            description_unit_u: '',
            selected_course_u: '',
            selected_oas_u: [],
            selected_actitudes_u: [],
            selected_indicators_u: [],

        }
    },
    mounted() {
        const self = this;
        self.$store.commit('setBreadcrumbs',[
            {label:'Configuraciones',name:'systemConfig.index'},
            {label:'Unidades',name:'systemConfig.unitsTemplatesList'}
        ]);
        self.loadUnitsTemplates();
    },
    methods:{

        loadUnitsTemplates(){
            const self = this;
            axios.get('admin/units-templates/').then(function(response) {                    
            self.units_template=response.data.data;
            self.loading = false;                                  
            });
        },

        loadCourseLvls(){
            const self = this;
            axios.get('/admin/courseLevels').then(function(response) {                    
            self.courselvs=response.data.data; 
            self.dialog = true;
            //console.log(response.data.data);                                 
            });                             
        },

        loadOas(id){
            const self = this;
            axios.get('/admin/objectives-course/'+id).then(function(response) {                    
                self.Oas=response.data.data;                             
                //console.log(self.Oas);                                 
            });
            
        },

        addIndicators(){
            const self = this;
            if (self.indicators_selected.find(element=> element == self.selected_indicator)) 
            {
                alert("Indicador Duplicado, No pueden existir dos indicadores iguales en una sola Unidad");    
            }
            else
            {
                self.indicators_selected.push(self.selected_indicator);
            }
        },

        addIndicators_u(){
            const self = this;
            if (self.selected_indicators_u.find(element=> element == self.selected_indicators_u)) 
            {
                alert("Indicador Duplicado, No pueden existir dos indicadores iguales en una sola Unidad");    
            }
            else
            {
                self.selected_indicators_u.push(self.selected_indicators_u);
            }
        },
        
        deleteIndicator(id){
            const self = this;
            let x;
            let y;
            x = self.indicators_selected.find(element=> element.id==id);
            y = self.indicators_selected.indexOf(x);                         
            self.indicators_selected.splice(y,1);
        },

        deleteIndicator_u(id){
            const self = this;
            let x;
            let y;
            x = self.selected_indicators_u.find(element=> element.id==id);
            y = self.selected_indicators_u.indexOf(x);                         
            self.selected_indicators_u.splice(y,1);
        },

        showIndicators(){
            const self = this;
            //console.log(self.selected_oas);
            if (Object.keys(self.selected_oas).length == 0) {
                alert('Seleccione un Objetivo de Aprendizaje')
            }
            else
            {
                self.selected_oas.forEach(element => 
                                           axios.get('/admin/objectives-indicators/'+element.id).then(function(response) {                    
                                                response.data.data.forEach(element1 =>self.indicators_load.push(element1));
                                                                             
                                                //console.log(element);                                 
                                            })
                                        );

                self.dialog_indicators = true;
            }
        },

        showIndicators_u(){
            const self = this;
            //console.log(self.selected_oas);
            if (Object.keys(self.selected_oas_u).length == 0) {
                alert('Seleccione un Objetivo de Aprendizaje')
            }
            else
            {
                self.selected_oas_u.forEach(element => 
                                           axios.get('/admin/objectives-indicators/'+element.id).then(function(response) {                    
                                                response.data.data.forEach(element1 =>self.indicators_load.push(element1));
                                                                             
                                                //console.log(element);                                 
                                            })
                                        );

                self.dialog_indicators = true;
            }
        },

        clearIndicators(){
            const self = this;
            self.indicators_selected = []
            self.dialog_indicators = false;
        },

        showActitudes(){
            const self = this;
            axios.get('admin/actituds-year/'+self.selected_course).then(function(response) {                    
            self.actitudes=response.data.data;
            self.dialog_actituds = true;                                              
            });
            
        },

        showActitudes_u(){
            const self = this;
            axios.get('admin/actituds-year/'+self.selected_unit.lvl_id).then(function(response) {                    
            self.actitudes=response.data.data;
            self.dialog_actituds_u = true;                                              
            });
            
        },

        clearActitudes(){
            const self = this;
            self.selected_actitudes = []
            self.dialog_actituds = false;
        },

        addActitudes(){
            const self = this;
            if (self.selected_actitudes.find(element=> element == self.selected_actitud)) 
            {
                alert("Actitud Duplicada, No pueden existir dos actitudes iguales en una sola Unidad");    
            }
            else
            {
                self.selected_actitudes.push(self.selected_actitud);
            }
        },

        addActitude_u(){
            const self = this;
            if (self.selected_actitudes_u.find(element=> element == self.selected_actitudes_u)) 
            {
                alert("Actitud Duplicada, No pueden existir dos actitudes iguales en una sola Unidad");    
            }
            else
            {
                self.selected_actitudes_u.push(self.selected_actitud);
            }
        },

        deleteActitud(id){
            const self = this;
            let x;
            let y;
            x = self.selected_actitudes.find(element=> element.id==id);
            y = self.selected_actitudes.indexOf(x);                         
            self.selected_actitudes.splice(y,1);
        },

        deleteActitud_u(id){
            const self = this;
            let x;
            let y;
            x = self.selected_actitudes_u.find(element=> element.id==id);
            y = self.selected_actitudes_u.indexOf(x);                         
            self.selected_actitudes_u.splice(y,1);
        },        

        saveUnit(){
            const self = this;

            let unit_json = {name: self.name_unit,description: self.description_unit,classN: 0,classStart: 0,classEnd: 0, id: 0,indicators: [],oas: [],actitudes: []};
        
            unit_json.indicators= self.indicators_selected;
            unit_json.oas = self.selected_oas;
            unit_json.actitudes= self.selected_actitudes;
            console.log(unit_json);
            JSON.stringify(unit_json);
            
            let payload = {
                    name: self.name_unit,
                    description: self.description_unit,
                    course_id: self.selected_course,
                    unit_json: JSON.stringify(unit_json)
                };
            
            axios.post('/admin/units-templates',payload).then(function(response) {

                    self.$store.commit('showSnackbar',{
                       message: response.data.message,
                       color: 'success',
                       duration: 3000
                    });
                   
                    // reset
                    self.name_unit = '';
                    self.description_unit = '';
                    self.clearIndicators();
                    self.clearActitudes(); 
                    self.oas =  [];
                    self.dialog = false;
                    self.loadUnitsTemplates();

                }).catch(function (error) {
                    if (error.response) {
                        self.$store.commit('showSnackbar',{
                            message: error.response.data.message,
                            color: 'error',
                            duration: 3000
                        });
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        console.log('Error', error.message);
                    }
                });
            
        },

        showItem(unit){
            const self = this;
            self.unit_json = JSON.parse(unit.unit_json);
            console.log(self.unit_json);
            
            self.dialog_preview = true;

        },

        deleteItem(unit){
            const self = this;
            self.dialog_delete = true;
            self.selected_unit=unit.id;
        },

        deleteRequestItem(){
            const self = this;
                
                
                axios.delete('admin/units-templates/'+self.selected_unit).then(function(response) 
                {
                    self.$store.commit('showSnackbar',{
                      message: response.data.message,
                      color: 'success',
                      duration: 3000
                    });
                  self.dialog_delete = false;
                  self.selected_unit='';
                  self.loadUnitsTemplates();
                }).catch(function(error){
                      self.dialog_delete = false;
                     if (error.response) {
                                self.$store.commit('showSnackbar',{
                                    message: error.response.data.message,
                                    color: 'error',
                                    duration: 3000
                                });
                            } else if (error.request) {
                                console.log(error.request);
                            } else {
                                console.log('Error', error.message);
                            }     
                });            
        },

        editItem(unit)
        {
            const self = this;
            let selected_json = JSON.parse(unit.unit_json)
            self.selected_unit = unit;
            console.log(self.selected_unit);
            
            self.name_unit_u = unit.name;
            self.description_unit_u = unit.description;
            self.loadOas(unit.lvl_id);
            self.selected_oas_u = selected_json.oas;
            self.selected_indicators_u = selected_json.indicators;
            self.selected_actitudes_u =  selected_json.actitudes;
            self.dialog_update = true;
        },

        updateUnit(){
            const self = this;
            let unit_json = {name: self.name_unit_u,description: self.description_unit_u,classN: 0,classStart: 0,classEnd: 0, id: 0,indicators: [],oas: [],actitudes: []};
        
            unit_json.indicators= self.selected_indicators_u;
            unit_json.oas = self.selected_oas_u;
            unit_json.actitudes= self.selected_actitudes_u;
            console.log(unit_json);
            JSON.stringify(unit_json);
            
            let payload = {
                    name: self.name_unit_u,
                    description: self.description_unit_u,
                    course_id: self.selected_unit.lvl_id,
                    unit_json: JSON.stringify(unit_json)
                };
                axios.put('/admin/units-templates/'+self.selected_unit.id,payload).then(function(response) {

                    self.$store.commit('showSnackbar',{
                       message: response.data.message,
                       color: 'success',
                       duration: 3000
                    });
                   
                    // reset
                    self.name_unit = '';
                    self.description_unit = '';
                    self.clearIndicators();
                    self.clearActitudes(); 
                    self.oas =  [];
                    self.dialog = false;
                    self.loadUnitsTemplates();

                }).catch(function (error) {
                    if (error.response) {
                        self.$store.commit('showSnackbar',{
                            message: error.response.data.message,
                            color: 'error',
                            duration: 3000
                        });
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        console.log('Error', error.message);
                    }
                });                        
        }
    }
}
</script>